#receiverContainer.col-md-5.col-sm-6
	div.offerContainer
		div.offerHead
			div.row
				div.col-xs-6
					h2
						| 0.00 
						span.curency US$
				div.col-xs-6.text-right
					h2 YOUR RECEIVE
		div.offerBody
			div.offerText.text-center
				p
					| SELECT THE ITEMS YOU WANT TO OFFER
					br
					| FROM THE INVENTORY BOX BELOW
			div.offerItems
