#userItemsContainer.col-md-5.col-sm-6.col-md-pull-2
	div.inventoryContainer
		div.offerHead
			div.row
				div.col-xs-1
					img.refresh(src='/images/refresh.svg', alt='reload button', v-on:click="reloadInventories" v-if=" ! disableReload")
					img.refresh(src='/images/refresh.svg', alt='reload button', disabled v-else, :style="color:gray")
				div.col-xs-4.text-center
					div.drop
						button.dropbtn
							| ORDER BY 
							span.caret
						div.drop-content
							a(href='#') MOST RECENT
							a(v-on:click="setInventorySort('user', true)") HIGHEST PRICE
							a(v-on:click="setInventorySort('user', false)") LOWEST PRICE
				div.col-xs-4.col-xs-offset-3
					input.search(type="text", placeholder='Search:', v-on:keyup="searchInventory('user', $event.target.value)")
		div.offerBody
				div.offerItems(v-if=" ! userInventory.error && userInventory.length")
					.offer_container_invertory(id=``, market_hash_name=`{{ item.data.market_hash_name }}`, cost='', assetid=``, float='', data-original-title='', title='', v-for="item in userInventory", v-if="! item.hidden && userInventorySelected.indexOf(item.assetid) === -1", v-on:click="addItem('user', item.assetid, item.price)", :disabled="item.price <= rates.ignore")
						img.st(data-pin-nopin="true", src="/images/st.png", v-if="item.data.market_hash_name.indexOf('StatTrak') !== -1")
						.stickers
							img(src='https://steamcdn-a.akamaihd.net/apps/730/icons/econ/stickers/atlanta2017/flip.9266c05ccfaa72e2067b3d907e496faacdc83620.png')
						.invertory_container_links
							a.invertory_link_view(href='https://steamcommunity.com/market/listings/730/AK-47 | Cartel (Factory New)', target='_blank') VIEW
							a.invertory_link(href='steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20S76561198024097357A10090004548D2795057815071777749') INSPECT
						.offer_container_invertory_inactive
						.invertory_title_container
							.invertory_title_text_quantity
								| x
								span.count_in_stack 1
							.invertory_title_container_marka(v-if="item.item_wear") {{ item.item_wear }}
						img.offer_container_img(:src=`https://steamcommunity-a.akamaihd.net/economy/image/${item.data.image}`)
						.price_animation
						.price(v-if="item.price > rates.ignore") ${{ item.price }}
						.price(v-else) TOO LOW
						
				div.offerText.text-center(v-else-if="userInventory.error")
					div(v-if="userInventory.error.statusCode == 403")
						p
							strong Your profile or inventory settings are set to private. We can't acquire the items of your CS:GO inventory.
						a.btn-auto(href="http://steamcommunity.com/id/me/edit/settings", target="_blank", rel="noopener") Change your Steam privacy settings here
						p After that's done you can try reloading inventories
						hr
						p
							strong If you're certain your privacy settings are public please contact the administrator or try again later.
						p Sometimes Steam has issues with its stability of the inventory servers. Make sure that Steam is not broken:
							a.btn-auto(href="http://steamstat.us", target="_blank", rel="noopener")
								strong HERE
					div(v-else)
						div.alert.alert-danger
							strong(v-if="userInventory.error.error") {{ userInventory.error.error }}
							strong(v-else) Something went wrong.. please try again!
							span(v-if="userInventory.error.statusCode") ({{ userInventory.error.statusCode }})
						
				div.offerText.text-center(v-else-if=" ! user.steamID64")
					div(v-if="userInventory.error.statusCode == 403")
						p SIGN IN WITH STEAM TO DISPLAY YOUR ITEMS HERE
						a(href='#')
							img(src='/images/steam.png', alt='log in with steam')
				div.offerText.text-center(v-else)
					img(src='/images/load.gif', alt='loading')
